.footer-svg-column {
  width: 100%;
  height: 110px;

  display: flex;
  justify-content: center;
  align-items: center;
  .footer-svg-child {
    width: 100%;
    height: inherit;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .svg-1 {
      width: 100px;
      height: 80px;

      display: flex;
      margin-top: 35px;
      justify-content: center;
      align-items: center;
    }
    .svg-2 {
      width: 100px;
      height: 80px;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
    }
    .svg-3 {
      width: 100px;
      height: 80px;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
    }
    .svg-4 {
      width: 100px;
      height: 80px;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
    }
    .svg-5 {
      width: 100px;
      height: 80px;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
    }
  }
}
