.under-footer-2 {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  .under-footer-2-child {
    width: 97%;
    height: inherit;

    display: flex;
    align-items: center;

    .under-footer-2-child-text {
      width: fit-content;
      height: fit-content;
      font-family: iranbold-medium;
      color: rgb(124, 124, 124);
      display: flex;
      font-size: 13px;
      justify-content: center;
      align-items: center;
      .pi-1 {
        width: 1.5px;
        height: 15px;
        background-color: rgb(171, 171, 171);
        margin-left: 20px;
        margin-right: 20px;
      }
      .pi-2 {
        width: 1.5px;
        height: 15px;
        background-color: rgb(171, 171, 171);
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}
